body {
	font-family: arial;
	font-size: 25px;
	color: #FFEEDB;
	background-color: #BA3B46;
}

h1 {
	text-align: center;
	height: 40px;
	margin: 20;
}
article.text{
	text-align: center;
}

h2{
	text-align: center;
	background-color: rgba(255, 238, 219, 0.4);
}

footer {
	text-align: center;
	width: 100%;
	height: 80px;
	position: bottom;
	bottom: 0;
	left: 0;
	background-color: #61C9A8;

}

nav {
	text-align: center;
	
}

a.links {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 25px;
	padding: 15px;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	color: red;
	transition: 1s;
}

a.links:hover {
	background-color: rgba(255, 255, 255, 0.7);
	transition: 1s;
	color: rgb(255, 128, 0);
	font-size: 150%;
}
#picture{
		max-width: 100px;
		height: auto;
		margin:30px;
		text-align:center;
		
}
article.complete{
	text-align: left;
	width: 500px;
	margin: 40px;
	border: solid 5px;
	margin-left: 20px;
	border-top-left-radius: 25px;
}
article.last{
	position: relative;
	text-align: left;
	width:800px;
	margin: 50px;;
	margin-left:500px;
	border: solid 5px;
	border-top-right-radius: 25px;
}
article.title{
	text-align:center;
}


/*p#test {
	background-image: url("cooking-wallpapers.jpg");
	background-attachment: fixed;
	background-size: contain;
}









