body {
	font-family: arial;
	font-size: 25px;
	color: #FFEEDB;
	background-color: #BA3B46;
}

h1 {
	text-align: center;
	height: 40px;
	margin: 20;
}
article.text{
	text-align: center;
}

h2{
	text-align: center;
	background-color: rgba(255, 238, 219, 0.4);
}

footer {
	text-align: center;
	width: 100%;
	height: 80px;
	position: bottom;
	bottom: 0;
	left: 0;
	background-color: #61C9A8;

}

nav {
	text-align: center;
	
}

a.links {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 25px;
	padding: 15px;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	color: red;
	transition: 1s;
}

a.links:hover {
	background-color: rgba(255, 255, 255, 0.7);
	transition: 1s;
	color: rgb(255, 128, 0);
	font-size: 150%;
}

#indexpic {
	width:100%
}


@media only screen and (min-width: 600px;)
{}
	

article.first{
	margin-top: 50px;
	border: solid 5px;
	border-top-right-radius: 25px;
}
article.second{
	border: solid 5px;
	border-bottom-right-radius: 25px;
}
article.title{
	text-align:center;
}

#breakfastpic1{
	text-align: center;
	margin-top:20px;
	width: 100%
}
.container {
	display:flex;
	flex-direction: row;
	text-align: center;
}

.breakfastpic {
	margin: 0 60px;
}
#piclunch {
	text-align: center;
	margin-top: 30px;
	
}
#picdinner {
	text-align: center;
	margin-top: 50px;
	
}
a#changecss {
	background-color: #B22222;
    border: none;
    color: black;
    cursor: url(cursor.cur);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 200px;
    transition-duration: 0.5s;
    box-shadow: 0 10px #000000;
    min-width: 20%;
    margin-top: 2%;
}

a#changecss:hover {
	background-color: white;
}

a#changecss:active {
	background-color: white;
	box-shadow: 0 5px #ffae19;
  	transform: translateY(4px);
}

div#css {
	text-align: center;
}











