body {

	background-image: url("cooking-wallpapers.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	font-family: sans-sarif;
	font-size: 25px;
	color: white;

}

h1 {
	text-align: center;
	border-width: 6px;
	height: 40px;
	border-color: black;
	background-color: clear;
	color: red;
	margin: 20;

}
p.content{
	color: white;
	text-align: center;
	
	
}
h2{
	text-align: center;
	margin-top: 100px;
	border-width: 30px;
	height: 60px;
	color: white;
	background-color: black;
}
footer {
	text-align: right;
	width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0;
	left: 0;
}
div#navbar {
	text-align: center;
}








