html {

	font-family: Arial;
}

body {
	background-color: black;
	font-family: Arial;
	
}

p {
	font-size: 1.3em;
	color: #800000;
}
h1 {
	color: red;
	text-transform: uppercase;
	text-align:center;
}
.nav {
    list-style-type: none;
    margin:  0;
    padding: 100px;
    width: 200px;
    background-color: #f1f1f1;
}
.menu{
    display: block;
    width: 90px;
	height: 100px;
	background-color: gray;
	text-align: right;
	
}
a.link :hover {
    background-color: #555;
    color: white;
}
footer{
	text-align: bottom-center;
	width: 100%;
	height: 100px;
	bottom: 0;
	left: 0;
}
article.first {
	text-align: center;
	border-style: dotted;
	border-width: 5px;
	border-color: blue;
	margin-top: 5px;
}
article.second {
	text-align: center;
	border-style: dashed solid dashed solid;
	border-width: 5px;
	border-color: yellow;
	margin-top: 10px;
	margin-bottom: 10px;
}
article.title {
	text-align: center;

}
article.text{
	text-align: center;
	border-style: double;
	border-width: 10px;
	border-color: blue;
	margin-top: 15px;
	margin-bottom: 15px;

}
a#changecss {
	background-color: #ffd27f;
    border: none;
    color: black;
    cursor: url(cursor.cur);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 200px;
    transition-duration: 0.5s;
    box-shadow: 0 10px #ffa500;
    min-width: 20%;
    margin-top: 2%;
}

a#changecss:hover {
	background-color: white;
}

a#changecss:active {
	background-color: white;
	box-shadow: 0 5px #ffae19;
  	transform: translateY(4px);
}

div#css {
	text-align: center;
}
